.container
  .sixteen.columns
    %h1 Pritory
    :markdown 
      Σύστημα παρακούθησης τιμών για εμπορικά καταστήματα.
  .one-third.column
    %img{src: "/images/pritory_logo.png"}
  .two-third.column
    %form(action="/panel" method="post")
      %fieldset
        %legend Είσοδος
        %div{:class => 'centerize'}
          %label(for="username") Χρήστης:
          %input#username(type="text" name="username")
          %label(for="password") Κωδικός:
          %input#password(type="password" name="password")
          %input(type="submit" value="Αποστολή") || <a href="/">Ακύρωση</a>
