- if protected?
  %ul#menu-bar
    %li
      %a{href: "/panel"} Πίνακας
    %li
      %a{href: "/manage_product"} Προσθήκη προϊόντος
    %li
      %a{href: "/manage_source"} Προσθήκη πηγής
    %li
      %a{href: "/settings"} Ρυθμίσεις
    %li
      %a{href: "/logout"} Έξοδος
