- if protected?
  %ul#menu
    %li
      %a{href: "/panel"} Πίνακας
    %li
      %a{href: "/manage_product"} Διαχείριση προϊόντος 
    %li
      %a{href: "/manage_source"} Διαχείριση πηγής
    %li
      %a{href: "/auth"} Skroutz
    %li
      %a{href: "/logout"} Έξοδος

