%h3 Παρατηρητήριο τιμών 

%table{align: 'center'}
  %thead
    %tr
      %th Προϊόν
  %tbody
    - if @products
      - @products.each do |product|
        %tr
          - p = product
          %td= p[:product_name]
          %td
            %a{href: "/view_product/:#{p.id}"} Λεπτομέρειες
    - else
      %td n/a
      %td n/a
      %td n/a
      %td n/a
      %td n/a

