%h3 Παρατηρητήριο τιμών 
%p  
  <strong>Στοιχεία Χρήστη</strong>: #{@user.realname} (#{@user.username})

%h4 Προϊόντα Χρήστη

%table{align: 'left'}
  %tbody
    - if @products
      - @products.each do |product|
        %tr
          - p = product
          %td= p[:name]
          %td
            %a{href: "/view_product/:#{p.id}"} Λεπτομέρειες
    - else
      %p Δεν υπάρχει κανένα προϊόν

