/* Custom CSS3 settings */

/* simple horizontal menu */
#menu {
    width: auto;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#menu a {
	color: #01013c;
}

#menu ul {
    height: auto;
    padding: 2px 0px;
    margin: 0px;
}

#menu li { 
display: inline; 
padding: 5px; 
}

#footer {
	text-align: center;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


.column1of2, .column2of2 {
width:  300px;
float: left;
margin: 10px;
}

#caption {
  font-style: bold;
}

.imgframe {
  background:#ffffff;
  padding:12px;
  border:1px solid #999999; 
}

#desc {
  font-size: 18px;
  font-weight: bold;
}

#img {
  float: left;
  padding: 2px;
  margin-right: 5px;
}

.ptable {
  float: left;
  margin-right: 5px;
  padding: 2px;
  background-color: white;
  border-style: ridge;
}
